In [3]:
from parquet_data_reader import ParquetDataReader

data_reader = ParquetDataReader()
articles_df = data_reader.read_data('../data/articles.parquet')

In [4]:
articles_df.head()

,article_id,title,subtitle,last_modified_time,premium,body,published_time,image_ids,article_type,url,...,entity_groups,topics,category,subcategory,category_str,total_inviews,total_pageviews,total_read_time,sentiment_score,sentiment_label
0,3001353,Natascha var ikke den første,"Politiet frygter nu, at Nataschas bortfører ha...",2023-06-29 06:20:33,False,Sagen om den østriske Natascha og hendes bortf...,2006-08-31 08:06:45,[3150850],article_default,https://ekstrabladet.dk/krimi/article3001353.ece,...,[],"[Kriminalitet, Personfarlig kriminalitet]",140,[],krimi,NaN,NaN,NaN,0.9955,Negative
1,3003065,Kun Star Wars tjente mere,Biografgængerne strømmer ind for at se 'Da Vin...,2023-06-29 06:20:35,False,Vatikanet har opfordret til at boykotte filmen...,2006-05-21 16:57:00,[3006712],article_default,https://ekstrabladet.dk/underholdning/filmogtv...,...,[],"[Underholdning, Film og tv, Økonomi]",414,"[433, 434]",underholdning,NaN,NaN,NaN,0.8460,Positive
2,3012771,Morten Bruun fyret i SønderjyskE,FODBOLD: Morten Bruun fyret med øjeblikkelig v...,2023-06-29 06:20:39,False,Kemien mellem spillerne i Superligaklubben Søn...,2006-05-01 14:28:40,[3177953],article_default,https://ekstrabladet.dk/sport/fodbold/dansk_fo...,...,[],"[Erhverv, Kendt, Sport, Fodbold, Ansættelsesfo...",142,"[196, 199]",sport,NaN,NaN,NaN,0.8241,Negative
3,3023463,Luderne flytter på landet,I landets tyndest befolkede områder skyder bor...,2023-06-29 06:20:43,False,Det frække erhverv rykker på landet. I den tyn...,2007-03-24 08:27:59,[3184029],article_default,https://ekstrabladet.dk/nyheder/samfund/articl...,...,[],"[Livsstil, Erotik]",118,[133],nyheder,NaN,NaN,NaN,0.7053,Neutral
4,3032577,Cybersex: Hvornår er man utro?,En flirtende sms til den flotte fyr i regnskab...,2023-06-29 06:20:46,False,"De fleste af os mener, at et tungekys er utros...",2007-01-18 10:30:37,[3030463],article_default,https://ekstrabladet.dk/sex_og_samliv/article3...,...,[],"[Livsstil, Partnerskab]",565,[],sex_og_samliv,NaN,NaN,NaN,0.9307,Neutral

In [5]:
articles_df.describe()

,article_id,last_modified_time,published_time,category,total_inviews,total_pageviews,total_read_time,sentiment_score
count,2.073800e+04,20738,20738,20738.000000,9.968000e+03,9.856000e+03,9.856000e+03,20738.000000
mean,8.779823e+06,2023-06-30 18:38:02.157778,2021-04-06 17:43:51.156669,488.540602,3.548798e+05,6.215521e+04,3.767574e+06,0.824983
min,3.001353e+06,2023-06-29 06:20:33,1998-12-27 12:05:00,2.000000,1.000000e+00,1.000000e+00,0.000000e+00,0.344900
25%,8.834722e+06,2023-06-29 06:43:39,2021-09-13 03:30:00,140.000000,1.592088e+05,1.280450e+04,6.675798e+05,0.693200
50%,9.609904e+06,2023-06-29 06:48:06,2023-02-01 12:02:36.500000,142.000000,3.377975e+05,4.933200e+04,2.767553e+06,0.870400
75%,9.745302e+06,2023-06-29 06:48:55,2023-05-02 10:12:09.500000,498.000000,4.828422e+05,9.219950e+04,5.252836e+06,0.972600
max,9.803607e+06,2024-01-25 05:15:50,2023-07-11 05:05:36,2975.000000,4.138598e+06,1.637751e+06,2.181756e+08,0.998300
std,1.668318e+06,NaN,NaN,726.482571,3.114681e+05,6.370662e+04,4.988664e+06,0.157419